body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
}

.main {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 92.3vh;

}



.left {

    /* background-color: red; */
    text-align: center;

    padding: 50px;
    width: 50%;
    height: 100%;
}

.background {
    background-color: #ff3f80;
    padding: 50px;
    border-radius: 4px;
    position: sticky;
    width: 100%;
    top: 0%;
}

.left .background h2 {
    color: white;
}



.left #addbtn{
    padding: 5px 15px;
    border: none;
    font-size: 1.4rem;
    border-radius: 50%;
    font-weight: normal;
    background-color: rgb(29, 212, 29);
    color: white;
}




.hero {
    display: flex;
    margin-top: 25px;
}

.hero h2 {
    display: block;
}

.right {
    /* background-color: red; */
    width: 50%;
    height: 100%;

}

.right .righthero {
    padding: 15px;
    padding-bottom: 0px;
    color: white;

}

.list {
    padding: 0 20px;
}

.list ul {
    margin: 0%;
    padding: 0%;
}

.list ul li {
    border-radius: 5px;
    margin: 3px;
    padding: 5px 10px;
    list-style: none;
    font-weight: 500;
    font-size: 1.4rem;
    color: white;
    background-color: #424242;
    width: 100%;
}

/* .list ul:first-child{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.list ul li:last-child{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
} */

.list li:hover {
    background-color: rgb(29, 212, 29);
}

.done {
    text-decoration: line-through;

}

.maindiv {
    display: flex;
    /* background-color: red; */
    justify-content: space-between;
    align-items: center;
}

.maindiv button {
    padding: 5px 15px;
    border: none;
    font-size: 1.4rem;
    border-radius: 50%;
    font-weight: normal;
    background-color: #303030;
    color: white;
}

.maindiv button:hover{
    background-color: rgb(235, 68, 68);
}

footer {
    text-align: center;
    background-color: #303030;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    margin-top: 5px;
    display: none;
}

@media only screen and (max-width: 1024px) {

    .main {
        display: block;
        height: auto;
    }

    .left {
        /* display: block; */
        height: auto;
        width: 100%;
        padding: 5px;
    }


    .right {
        /* display: block; */
        width: 100%;
        padding: 5%;
        height: auto;

    }


}